.reels{
    width: 600px;
    margin-top: 50px;
}
.reelsPosts{
    box-shadow: 3px 3px 12px #000;
    margin-bottom: 20px;
    border-radius: 10px;
    padding: 10px;
    background-color: #0000002a;
}
.postUserImg{
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 5px 0;
}
.postUserImg img{
    width: 30px;
}